[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
esptool = "*"
mpycntrl = "*"
pttydev = "*"
flake8 = "*"
pytest = "*"
asynctest = "*"
pytest-randomly = "*"
pytest-cov = "*"
thonny = "*"

[requires]
python_version = "3.6"

[scripts]
make_sdist = "python3 utils/make_sdist.py"
start_soft_ota_server = "python3 start_soft_ota_server.py"
