[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
esptool = "*"
mpycntrl = "*"
pttydev = "*"
flake8 = "*"
pytest = "*"
asynctest = "*"
pytest-randomly = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
